$headline-primary: #58e1c1;
$headline-secondary: #777;
$background-color1: #927bc1;
$background-color2: #fd7856;
$background-color3: #deb2ee;

//  Media query brakpoints

$brk-narrow: '(max-width: 768px)';
$brk-wide: '(max-width: 1024px)';
