/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: #51ddfc;
      &:hover {
        background-color: lighten(#51ddfc, 15%);
      }
}

.error {
  background-color: #e4757a;
      &hover {
        background-color: lighten(#e4757a, 15%);
      }
}

.info {
  background-color: $background-color1;
      &:hover {
    background-color: lighten($background-color1, 15%);
  }
}

.success {
  background-color: #63cc82;
      &hover {
          background-color: lighten(#63cc82, 15%);
      }
}

.warning {
  background-color: $background-color2;
      &hover {
          background-color: lighten($background-color2, 15%);
      }
}
